h1 { color: red;
font-size: 50px;
text-align: center;
font: "Times New Roman", Times, serif;
background-color: rgb(223, 144, 144);
}
nav {
color: rgb(71, 89, 255);
text-align: center;
padding: 10px;
margin : 10px;
size: 60px;
}

h2 { color: rgb(71, 89, 255);
font-size: 40px;}